braindecode
einops==0.7.0
geoopt==0.5.0
h5py
joblib==1.2.0
matplotlib==3.7.1
metabci==0.1.2
mne==1.4.2
moabb==1.0.0
numpy==1.23.5
pandas==1.5.3
paramiko==3.4.0
pooch==1.8.1
psutil==5.9.5
pynvml==11.5.0
pyriemann==0.5
Requests==2.31.0
scikit_learn==1.4.0
scipy==1.13.0
seaborn==0.13.2
skorch==0.13.0
torchsummary==1.5.1
tqdm==4.65.0
